In [431]:
import pandas as pd
datasets={
           "adult":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\adult\adult.data",
           "adult_test":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\adult\adult.test",
           "customer_churn":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\customer_churn\WA_Fn-UseC_-Telco-Customer-Churn.csv",
           "UCI_credit_card":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\UCI_credit_card\UCI_Credit_Card.csv",
           "yellow1":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\yellow_trip_data\yellow_tripdata_2015-01.csv",
           "yellow2":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\yellow_trip_data\yellow_tripdata_2016-01.csv",
           "yellow3":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\yellow_trip_data\yellow_tripdata_2016-02.csv",
           "yellow4":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\yellow_trip_data\yellow_tripdata_2016-03.csv"
           }
dataset_names=['yellow' , 'UCI_credit_card' , 'customer_churn' , 'adult']

In [432]:
chunk_size=20000
customer_churn=pd.read_csv(datasets["customer_churn"])
UCI_credit_card=pd.read_csv(datasets["UCI_credit_card"])
chunk1=pd.read_csv(datasets["yellow1"],chunksize=chunk_size)
yellow1 = next(chunk1) 
chunk2=pd.read_csv(datasets["yellow2"],chunksize=chunk_size)
yellow2 = next(chunk2) 
chunk3=pd.read_csv(datasets["yellow3"],chunksize=chunk_size)
yellow3 = next(chunk3) 
chunk4=pd.read_csv(datasets["yellow4"],chunksize=chunk_size)
yellow4 = next(chunk4)
yellow= pd.concat([yellow1, yellow2, yellow3, yellow4], ignore_index=True)
yellow

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,RatecodeID
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1.0,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05,NaN
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1.0,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80,NaN
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1.0,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,NaN
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1.0,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,NaN
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1.0,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,2,2016-03-10 08:52:30,2016-03-10 09:09:11,5,1.91,-73.983955,40.737537,NaN,N,-73.989944,40.756554,2,11.5,0.0,0.5,0.00,0.0,0.3,12.30,1.0
79996,2,2016-03-10 08:52:31,2016-03-10 09:03:29,1,1.38,-73.995209,40.749649,NaN,N,-73.980080,40.759201,1,8.5,0.0,0.5,0.00,0.0,0.3,9.30,1.0
79997,2,2016-03-10 08:52:32,2016-03-10 08:58:45,2,0.65,-73.986633,40.761318,NaN,N,-73.979057,40.764980,2,5.5,0.0,0.5,0.00,0.0,0.3,6.30,1.0
79998,2,2016-03-10 08:52:32,2016-03-10 09:00:38,1,0.87,-73.990707,40.745960,NaN,N,-73.981606,40.753780,1,6.5,0.0,0.5,1.46,0.0,0.3,8.76,1.0
79999,2,2016-03-10 08:52:32,2016-03-10 09:05:56,2,1.31,-73.985748,40.778610,NaN,N,-73.970840,40.768291,1,9.5,0.0,0.5,2.06,0.0,0.3,12.36,1.0

In [433]:
yellow

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,RatecodeID
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1.0,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05,NaN
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1.0,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80,NaN
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1.0,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,NaN
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1.0,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,NaN
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1.0,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,2,2016-03-10 08:52:30,2016-03-10 09:09:11,5,1.91,-73.983955,40.737537,NaN,N,-73.989944,40.756554,2,11.5,0.0,0.5,0.00,0.0,0.3,12.30,1.0
79996,2,2016-03-10 08:52:31,2016-03-10 09:03:29,1,1.38,-73.995209,40.749649,NaN,N,-73.980080,40.759201,1,8.5,0.0,0.5,0.00,0.0,0.3,9.30,1.0
79997,2,2016-03-10 08:52:32,2016-03-10 08:58:45,2,0.65,-73.986633,40.761318,NaN,N,-73.979057,40.764980,2,5.5,0.0,0.5,0.00,0.0,0.3,6.30,1.0
79998,2,2016-03-10 08:52:32,2016-03-10 09:00:38,1,0.87,-73.990707,40.745960,NaN,N,-73.981606,40.753780,1,6.5,0.0,0.5,1.46,0.0,0.3,8.76,1.0
79999,2,2016-03-10 08:52:32,2016-03-10 09:05:56,2,1.31,-73.985748,40.778610,NaN,N,-73.970840,40.768291,1,9.5,0.0,0.5,2.06,0.0,0.3,12.36,1.0

In [434]:
# Rename both columns clearly
yellow = yellow.rename(columns={
    'RateCodeID': 'RateCodeID_1',
    'RatecodeID': 'RateCodeID_2'
})

# Create a new merged column that takes the non-null value from either one
yellow['RateCodeID_Final'] = yellow['RateCodeID_1'].combine_first(yellow['RateCodeID_2'])

# Drop the old duplicate columns
yellow = yellow.drop(['RateCodeID_1', 'RateCodeID_2'], axis=1)

# Confirm the fix
print(yellow.columns)

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'store_and_fwd_flag', 'dropoff_longitude',
       'dropoff_latitude', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'RateCodeID_Final'],
      dtype='object')

In [435]:
print(yellow['VendorID'].unique())

[2 1]

In [436]:
col_names = ['age','workclass','fnlwgt','education','education-num',
             'marital-status','occupation','relationship','race','sex',
             'capital-gain','capital-loss','hours-per-week','native-country','<=50k']

adult = pd.read_csv(datasets["adult"], header=None, names=col_names)
adult_test = pd.read_csv(datasets["adult_test"], header=None, names=col_names, skiprows=1)

adult = pd.concat([adult, adult_test], ignore_index=True)
adult.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       '<=50k'],
      dtype='object')

In [437]:
adult.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       '<=50k'],
      dtype='object')

In [438]:
from collections import Counter
Count=Counter(adult['<=50k'])
Count

Counter({' <=50K': 24720, ' <=50K.': 12435, ' >50K': 7841, ' >50K.': 3846})

In [439]:
adult['<=50k'].unique()

array([' <=50K', ' >50K', ' <=50K.', ' >50K.'], dtype=object)

In [440]:
customer_churn

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [441]:
customer_churn.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [442]:
UCI_credit_card.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [443]:
UCI_credit_card.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,...,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,...,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,...,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,...,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,...,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,...,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,...,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [444]:
print(adult.shape, adult.columns[:5])
print(customer_churn.shape, customer_churn.columns[:5])
print(UCI_credit_card.shape, UCI_credit_card.columns[:5])
print(yellow.shape, yellow.columns[:5])

print(adult.head(2))
print(customer_churn.head(2))
print(UCI_credit_card.head(2))
print(yellow.head(2))

(48842, 15) Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num'], dtype='object')
(7043, 21) Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents'], dtype='object')
(30000, 25) Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE'], dtype='object')
(80000, 19) Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance'],
      dtype='object')
   age          workclass  fnlwgt   education  education-num  \
0   39          State-gov   77516   Bachelors             13
1   50   Self-emp-not-inc   83311   Bachelors             13

        marital-status        occupation    relationship    race    sex  \
0        Never-married      Adm-clerical   Not-in-family   White   Male
1   Married-civ-spouse   Exec-managerial         Husband   White   Male

   capital-gain  capital-loss  hours-per-week  native-country   <=50k
0          2174             0              40   United-States   <=50K
1             0             0              13   United-States   <=50K
   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No

      PaymentMethod MonthlyCharges  TotalCharges Churn
0  Electronic check          29.85         29.85    No
1      Mailed check          56.95        1889.5    No

[2 rows x 21 columns]
   ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3  PAY_4  \
0   1    20000.0    2          2         1   24      2      2     -1     -1
1   2   120000.0    2          2         2   26     -1      2      0      0

   ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  \
0  ...        0.0        0.0        0.0       0.0     689.0       0.0
1  ...     3272.0     3455.0     3261.0       0.0    1000.0    1000.0

   PAY_AMT4  PAY_AMT5  PAY_AMT6  default.payment.next.month
0       0.0       0.0       0.0                           1
1    1000.0       0.0    2000.0                           1

[2 rows x 25 columns]
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2015-01-15 19:05:39   2015-01-15 19:23:42                1
1         1  2015-01-10 20:33:38   2015-01-10 20:53:28                1

   trip_distance  pickup_longitude  pickup_latitude store_and_fwd_flag  \
0           1.59        -73.993896        40.750111                  N
1           3.30        -74.001648        40.724243                  N

   dropoff_longitude  dropoff_latitude  payment_type  fare_amount  extra  \
0         -73.974785         40.750618             1         12.0    1.0
1         -73.994415         40.759109             1         14.5    0.5

   mta_tax  tip_amount  tolls_amount  improvement_surcharge  total_amount  \
0      0.5        3.25           0.0                    0.3         17.05
1      0.5        2.00           0.0                    0.3         17.80

   RateCodeID_Final
0               1.0
1               1.0

In [445]:
adult.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
<=50k             object
dtype: object

In [446]:
customer_churn.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [447]:
UCI_credit_card.dtypes

ID                              int64
LIMIT_BAL                     float64
SEX                             int64
EDUCATION                       int64
MARRIAGE                        int64
AGE                             int64
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
BILL_AMT1                     float64
BILL_AMT2                     float64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                     float64
BILL_AMT6                     float64
PAY_AMT1                      float64
PAY_AMT2                      float64
PAY_AMT3                      float64
PAY_AMT4                      float64
PAY_AMT5                      float64
PAY_AMT6                      float64
default.payment.next.month      int64
dtype: object

In [448]:
yellow['tpep_dropoff_datetime']=pd.to_datetime(yellow['tpep_dropoff_datetime'])
yellow['tpep_pickup_datetime']=pd.to_datetime(yellow['tpep_pickup_datetime'])

yellow.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
pickup_longitude                float64
pickup_latitude                 float64
store_and_fwd_flag               object
dropoff_longitude               float64
dropoff_latitude                float64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
RateCodeID_Final                float64
dtype: object

In [449]:
dataset_list=[yellow , UCI_credit_card , customer_churn,adult]

columns_names = [
    # — Meta Info —
    "dataset_name",        
    "column_name",         
    "dtype",               

    # — Completeness —
    "non_null_count",      
    "missing_count",       
    "missing_percent",     

    # — Uniqueness & Variety —
    "unique_count",        
    "unique_percent",      
    "mode",                
    "mode_percent",        

    # — Numeric Columns —
    "mean",                
    "std",                 
    "min",                 
    "max",                 
    "median",              
    "outlier_count",       

    # — Categorical Columns —
    "num_categories",      
    "rare_category_percent",
    "whitespace_issues",   

    # — Datetime Columns —
    "min_date",            
    "max_date",            
    "date_range_days",     

    # — Quality & Resource —
    "duplicate_rows_percent",    
]

In [450]:

from sklearn.preprocessing import StandardScaler
import numpy as np
from pandas.api.types import is_numeric_dtype
data=[]
def get_metrics(df,index): 
    df=pd.DataFrame(df)
    #duplicate row percentage
    duplicate_row_percentage=((len(df)-len(df.drop_duplicates()))/len(df))*100
    for column in df.columns:
        #Meta info-:
        dataset_name=dataset_names[index]
        column_name=column
        dtype=df[column].dtype
        
        #completness-:
        non_null_count=df[column].notnull().sum()
        missing_count=df[column].isnull().sum()
        missing_percent=(missing_count/len(df[column]))*100
        
        #Uniquness and variety
        
        unique_count=df[column].nunique()
        unique_percent=(unique_count/len(df[column]))*100
        mode=df[column].mode()[0]
        mode_percent=((df[column]==mode).sum()/len(df[column]))*100
        
        
        #based on column types
        
        if is_numeric_dtype(df[column]):
            mean=df[column].mean()
            std=df[column].std()
            min=df[column].min()
            max=df[column].max()
            median=df[column].median()
            
            scalar=StandardScaler()
            z_score=scalar.fit_transform(df[[column]])
            outliers=int((np.abs(z_score)>=3).sum())
            
            num_categories=None
            rare_category_percent=None
            whitespace_issues=None
            min_date=None
            max_date=None
            date_range_days=None
        elif((df[column].dtype=='object') or (df[column].dtype=='bool') or (df[column].dtype=='category') ):
            num_categories=unique_count
            unique=list(df[column].unique())
            rare_category_percent=100
            for item in unique:
                item_count=(df[column]==item).sum()
                item_percentage=(item_count/len(df[column]))*100
                if item_percentage<=5.5 and (item_percentage<rare_category_percent):
                    rare_category_percent=item_percentage
            if(rare_category_percent==100):
                rare_category_percent=None
            temp1=df[column].str.startswith(" ").sum()
            temp2=df[column].str.endswith(" ").sum()
            whitespace_issues=temp1+temp2
            mean=None
            std=None
            min=None
            max=None
            median=None
            outliers=None
            min_date=None
            max_date=None
            date_range_days=None
        else:
            min_date=df[column].min()
            max_date=df[column].max()
            if pd.notna(min_date) and pd.notna(max_date):
                date_range_days = (max_date - min_date).days
            else:
                date_range_days = None
            mean=None
            std=None
            min=None
            max=None
            median=None
            outliers=None
            num_categories=None
            rare_category_percent=None
            whitespace_issues=None
        data.append([dataset_name,column_name,dtype,non_null_count,missing_count,missing_percent,unique_count,unique_percent,mode,mode_percent,mean,std,min,max,median,outliers,num_categories,rare_category_percent,whitespace_issues,min_date,max_date,date_range_days,duplicate_row_percentage])

In [451]:

for i,item in enumerate(dataset_list):
    get_metrics(item,i)
meta_data=pd.DataFrame(data=data,columns=columns_names)

In [452]:
meta_data.replace({pd.NaT: np.nan}, inplace=True)

In [453]:
meta_data

,dataset_name,column_name,dtype,non_null_count,missing_count,missing_percent,unique_count,unique_percent,mode,mode_percent,...,max,median,outlier_count,num_categories,rare_category_percent,whitespace_issues,min_date,max_date,date_range_days,duplicate_rows_percent
0,yellow,VendorID,int64,80000,0,0.0,2,0.002500,2,64.801250,...,2.0,2.00,0.0,NaN,NaN,NaN,NaT,NaT,NaN,0.000000
1,yellow,tpep_pickup_datetime,datetime64[ns],80000,0,0.0,24319,30.398750,2016-02-19 20:57:42,0.020000,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 01:08:55,2016-03-10 08:52:32,434.0,0.000000
2,yellow,tpep_dropoff_datetime,datetime64[ns],80000,0,0.0,40519,50.648750,2016-02-19 21:21:06,0.021250,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 01:08:56,2016-03-11 08:44:12,435.0,0.000000
3,yellow,passenger_count,int64,80000,0,0.0,8,0.010000,1,66.990000,...,9.0,1.00,1.0,NaN,NaN,NaN,NaT,NaT,NaN,0.000000
4,yellow,trip_distance,float64,80000,0,0.0,2041,2.551250,0.9,1.751250,...,56.9,1.76,2033.0,NaN,NaN,NaN,NaT,NaT,NaN,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,adult,capital-gain,int64,48842,0,0.0,123,0.251832,0,91.738668,...,99999.0,0.00,331.0,NaN,NaN,NaN,NaT,NaT,NaN,0.059375
76,adult,capital-loss,int64,48842,0,0.0,99,0.202694,0,95.327792,...,4356.0,0.00,2216.0,NaN,NaN,NaN,NaT,NaT,NaN,0.059375
77,adult,hours-per-week,int64,48842,0,0.0,96,0.196552,40,46.687277,...,99.0,40.00,681.0,NaN,NaN,NaN,NaT,NaT,NaN,0.059375
78,adult,native-country,object,48842,0,0.0,42,0.085992,United-States,89.742435,...,NaN,NaN,NaN,42.0,0.002047,48842.0,NaT,NaT,NaN,0.059375
79,adult,<=50k,object,48842,0,0.0,4,0.008190,<=50K,50.612178,...,NaN,NaN,NaN,4.0,NaN,48842.0,NaT,NaT,NaN,0.059375

In [454]:

#not rquired as much
summary = meta_data.groupby("dataset_name", as_index=False).agg({
    "missing_percent": "mean",
    "duplicate_rows_percent": "mean",
    "outlier_count": np.nansum,
    "whitespace_issues": np.nansum
})

summary.rename(columns={
    "missing_percent": "avg_missing_percent",
    "duplicate_rows_percent": "avg_duplicate_percent",
    "outlier_count": "total_outliers",
    "whitespace_issues": "total_whitespace_issues"
}, inplace=True)

summary

C:\Users\Prabhat\AppData\Local\Temp\ipykernel_20744\2004460432.py:2: FutureWarning: The provided callable <function nansum at 0x000002A9BDFBFEC0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  summary = meta_data.groupby("dataset_name", as_index=False).agg({

,dataset_name,avg_missing_percent,avg_duplicate_percent,total_outliers,total_whitespace_issues
0,UCI_credit_card,0.0,0.000000,7819.0,0.0
1,adult,0.0,0.059375,4250.0,439578.0
2,customer_churn,0.0,0.000000,0.0,22.0
3,yellow,0.0,0.000000,16929.0,0.0

In [455]:
def cleaning_recommendations(meta_data):
    recs = []
    for i, row in meta_data.iterrows():
        suggestions = []
        if row['missing_percent']>20:
            suggestions.append("Consider dropping column due to high missing values")
        elif 0 < row['missing_percent'] <= 20:
            suggestions.append("Impute missing values (mean/median/mode)")
        if row['outlier_count'] and row['outlier_count']>0:
            suggestions.append("Handle outliers (cap/remove)")
        if row['whitespace_issues'] and row['whitespace_issues']>0:
            suggestions.append("Strip leading/trailing spaces")
        if row['rare_category_percent'] and row['rare_category_percent']<5:
            suggestions.append("Combine rare categories or resolve typos")
        if row['dtype'] == 'datetime64[ns]' and row['date_range_days'] < 1:
            suggestions.append("Check for incorrect or same date entries")
        if len(suggestions) == 0:
            suggestions.append("No major issues detected")
        recs.append({
            "dataset_name": row["dataset_name"],
            "column_name": row["column_name"],
            "recommendations": ", ".join(suggestions)
        })

    return pd.DataFrame(recs)
recommendations=cleaning_recommendations(meta_data)
recommendations

,dataset_name,column_name,recommendations
0,yellow,VendorID,No major issues detected
1,yellow,tpep_pickup_datetime,No major issues detected
2,yellow,tpep_dropoff_datetime,No major issues detected
3,yellow,passenger_count,Handle outliers (cap/remove)
4,yellow,trip_distance,Handle outliers (cap/remove)
...,...,...,...
75,adult,capital-gain,Handle outliers (cap/remove)
76,adult,capital-loss,Handle outliers (cap/remove)
77,adult,hours-per-week,Handle outliers (cap/remove)
78,adult,native-country,"Strip leading/trailing spaces, Combine rare ca..."
79,adult,<=50k,Strip leading/trailing spaces

In [456]:

mapped_suggestions={
    1:"Consider dropping column due to high missing values" ,
    2:"Impute missing values (mean/median/mode)",
    3:"Handle outliers (cap/remove)",
    4:"Strip leading/trailing spaces",
    5:"Combine rare categories or resolve typos",
    6:"Check for incorrect or same date entries",
    7:"No major issues detected"
}

In [457]:

from nltk import ngrams
from nltk.metrics.distance import jaccard_distance
def clean_outliers(df, column):
    while True:
        col = df[column]
        if col.std() == 0:
            break
        z = ((col - col.mean()) / col.std()).abs()
        outlier_idx = z >= 3
        if outlier_idx.sum() == 0:
            break
        df.loc[outlier_idx, column] = col.median()
    return df[column]

def clean(df, column, clean_type):
        #1 Drop column due to high missing values
    if clean_type == 1:
        df.drop(columns=[column], inplace=True)
        #2 Impute missing values
    elif clean_type == 2:
        if (is_numeric_dtype(df[column]) and (df[column].dtype != 'bool')) :
            df[column] = df[column].fillna(df[column].mean())
        elif df[column].dtype=='datetime64[ns]':
            df[column]=df[column].fillna(df[column].mode()[0])
        else:
            df[column]=df[column].fillna(df[column].mode()[0])

        #3 Handle outliers using Z-score method
    elif clean_type == 3:
        df[column] = clean_outliers(df, column)  
        #4 Strip leading/trailing spaces
    elif clean_type == 4:
        def striping(value):
            return str(value).strip()          
        df[column] = df[column].apply(striping)

        #5 Combine rare categories and resolve typos
    elif clean_type == 5:
        condition=False
        breakpoint=0
        substitutes={}
        if df[column].dtype == 'object' or df[column].dtype == 'category':
            series=df[column].value_counts()
            for i,(k,v) in enumerate(series.items()):
                v=(v/len(df[column]))*100
                if v<=5:#checking if its a typo
                    if not (condition):
                        breakpoint=i
                        condition=True
                    if len(str(k))>=3:
                        k_ngrams=ngrams(str(k).lower(),3)
                        k_set=set()
                        for gram in k_ngrams:
                            k_set.add(" ".join(gram))
                        
                        for index,key in enumerate(series.index):
                            if index==breakpoint:
                                break
                            key_ngrams=ngrams(str(key).lower(),3)
                            key_set=set()
                        
                            for gram in key_ngrams:
                               key_set.add(" ".join(gram))
                            if len(k_set.union(key_set)) == 0:
                                distance = 1
                            else:
                                distance = jaccard_distance(k_set, key_set)
                            if distance<0.25:
                                substitutes[k]=key
                            else:
                                substitutes[k]='Other'#rare category 
            df[column]=df[column].replace(substitutes)               
        #6 Check for incorrect/same date entries
    elif clean_type == 6:
        if ((df[column].dtype=='datetime64[ns]') and (df[column].nunique()<=1)):
            print( column , "has identical or invalid date entries not required for data analysis")

        #7 No major issues
    elif clean_type == 7:
        pass
    return df[column]

In [458]:
dataset_list=[yellow , UCI_credit_card , customer_churn,adult]
dataset_list_cleaned=[]
for item in dataset_list:
    for column in item.columns:
        suggesions=recommendations[recommendations['column_name']==column]['recommendations'].iloc[0]
        suggesions=str(suggesions).split(',')
        #print("would you like to perform the following cleaning operations on "+str(column),'-:' ,'\n',suggesions,'\n','please answer Yes or No')
        #ans=input()
        #ans=ans.lower()
        #if(ans=='no'):
        #    continue
        for suggesion in suggesions:
            suggesion=str(suggesion).strip()
            for k,v in mapped_suggestions.items():
                v=v.strip()
                if suggesion==v:
                    clean_type=k
                    break
            item[column]=clean(item,column,clean_type)
    item=item.drop_duplicates()
    dataset_list_cleaned.append(item)

C:\Users\Prabhat\AppData\Local\Temp\ipykernel_20744\1822147329.py:12: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '178144.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outlier_idx, column] = col.median()

In [459]:
adult.drop_duplicates()
for item in dataset_list_cleaned:
    print(item.isna().sum().sum(), "missing values after cleaning")
    print(item.duplicated().sum(), "duplicate rows after cleaning")

0 missing values after cleaning
0 duplicate rows after cleaning
0 missing values after cleaning
0 duplicate rows after cleaning
0 missing values after cleaning
0 duplicate rows after cleaning
0 missing values after cleaning
0 duplicate rows after cleaning

In [460]:

data=[]
for i,item in enumerate(dataset_list_cleaned):
    get_metrics(item,i)
meta_data_new=pd.DataFrame(data=data,columns=columns_names)

In [461]:
meta_data_new

,dataset_name,column_name,dtype,non_null_count,missing_count,missing_percent,unique_count,unique_percent,mode,mode_percent,...,max,median,outlier_count,num_categories,rare_category_percent,whitespace_issues,min_date,max_date,date_range_days,duplicate_rows_percent
0,yellow,VendorID,int64,79999,0,0.0,2,0.002500,2,64.800810,...,2.00,2.00,0.0,NaN,NaN,NaN,NaT,NaT,NaN,0.0
1,yellow,tpep_pickup_datetime,datetime64[ns],79999,0,0.0,24319,30.399130,2016-02-19 20:57:42,0.020000,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 01:08:55,2016-03-10 08:52:32,434.0,0.0
2,yellow,tpep_dropoff_datetime,datetime64[ns],79999,0,0.0,40519,50.649383,2016-02-19 21:21:06,0.021250,...,NaN,NaN,NaN,NaN,NaN,NaN,2015-01-01 01:08:56,2016-03-11 08:44:12,435.0,0.0
3,yellow,passenger_count,int64,79999,0,0.0,7,0.008750,1,66.992087,...,6.00,1.00,0.0,NaN,NaN,NaN,NaT,NaT,NaN,0.0
4,yellow,trip_distance,float64,79999,0,0.0,452,0.565007,1.76,16.372705,...,4.51,1.76,0.0,NaN,NaN,NaN,NaT,NaT,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,adult,capital-gain,int64,48799,0,0.0,1,0.002049,0,100.000000,...,0.00,0.00,0.0,NaN,NaN,NaN,NaT,NaT,NaN,0.0
76,adult,capital-loss,int64,48799,0,0.0,1,0.002049,0,100.000000,...,0.00,0.00,0.0,NaN,NaN,NaN,NaT,NaT,NaN,0.0
77,adult,hours-per-week,int64,48799,0,0.0,61,0.125003,40,49.689543,...,70.00,40.00,0.0,NaN,NaN,NaN,NaT,NaT,NaN,0.0
78,adult,native-country,object,48799,0,0.0,3,0.006148,United-States,89.749790,...,NaN,NaN,NaN,3.0,1.754134,0.0,NaT,NaT,NaN,0.0
79,adult,<=50k,object,48799,0,0.0,4,0.008197,<=50K,50.591201,...,NaN,NaN,NaN,4.0,NaN,0.0,NaT,NaT,NaN,0.0

In [462]:
from collections import Counter
import math
def get_probs(df, column , bins):
    if is_numeric_dtype(df[column]):
        bin_indices=np.digitize(df[column], bins, right=False)
        counter=Counter(bin_indices)
    else:
        counter=Counter(df[column])
    probabilities=[]
    for i in range(0,len(bins)+1,1):
        count=counter.get(i,0)
        prob=(count+1)/(len(df[column])+len(bins)) #adding 1 for zero error handling
        probabilities.append(prob)
    return probabilities

def KL_and_PSI(df_base, df_new , column ):

        if is_numeric_dtype(df_base[column]):
            bins=np.linspace(df_base[column].min(),df_base[column].max(),num=11)
        else:
            bins=df_base[column].unique()
        probs_base=get_probs(df_base , column, bins)
        probs_new=get_probs(df_new , column , bins)
        KL_div=0
        PSI_div=0
        for i in range(1,len(probs_base) , 1):
            val_KL=probs_base[i]*(math.log(probs_base[i]/probs_new[i]))
            val_PSI=(probs_base[i]-probs_new[i])*(math.log(probs_base[i]/probs_new[i]))
            KL_div+=val_KL
            PSI_div+=val_PSI
        return KL_div , PSI_div
def get_entropy(df,column):
    if is_numeric_dtype(df[column]):
        bins=np.linspace(df[column].min(),df[column].max(),num=11)
    else:
        bins=df[column].unique()
    
    probs=get_probs(df,column,bins)
    entropy=0
    for prob in probs:
        entropy-=(prob*(math.log(prob)))
    return entropy

def get_type_error_count(df, column):
    expected_type=df[column].dtype
    error_count = 0
    for val in df[column]:
        if is_numeric_dtype(df[column]):
            try:
                float(val)  
            except (ValueError, TypeError):
                error_count += 1
        elif expected_type == "datetime64[ns]":
            try:
                pd.to_datetime(val)
            except (ValueError, TypeError):
                error_count += 1
        elif ((expected_type == "category") or (expected_type=='object')):
            if not isinstance(val, str):
                error_count += 1
    return error_count

def rule_based_errors(df,column,rules):
    errors=0
    rules=dict(rules)
    if column in rules.keys():
        for val in df[column]:
            if not(rules[column](val)):
                errors+=1
        return errors
    else:
        return 0
rules={}
metrics=[]
       
def advanced_metrics(dataset_name,df_base,df_new):
    df_base=pd.DataFrame(df_base)
    df_new=pd.DataFrame(df_new)
    for column in df_base.columns:
        KL_div , PSI_div =KL_and_PSI(df_base , df_new,column)
        entropy=get_entropy(df_base,column)
        type_errors=get_type_error_count(df_base,column)
        rule_errors=rule_based_errors(df_base,column,rules)
        
        #more adv metrics soon
        metrics.append([dataset_name,column,KL_div,PSI_div,entropy,type_errors,rule_errors])

In [463]:
target_yellow=yellow['total_amount']
def convert_churn(value):
    if value=='Yes':
        return 1
    else:
        return 0
customer_churn['Churn']=customer_churn['Churn'].apply(convert_churn)
target_churn=customer_churn['Churn']
target_UCI=UCI_credit_card['default.payment.next.month']
def convert_adult(value):
    if (value=='>50K') or (value=='>50K.'):
        return 1
    else:
        return 0
adult.columns = adult.columns.str.strip()
adult['<=50k']=adult['<=50k'].apply(convert_adult)
target_adult=adult['<=50k']
target_list=[target_yellow,target_UCI,target_churn,target_adult]
targets={}
for i , dataset in enumerate(dataset_list):
    targets[dataset_names[i]]=target_list[i]

In [464]:
from sklearn.model_selection import train_test_split
metrics=[]
for i,dataset in enumerate(dataset_list):
    df_old , df_new =train_test_split(dataset,test_size=0.3,random_state=1)
    advanced_metrics(dataset_names[i],df_old,df_new)
meta_table_adv=pd.DataFrame(data=metrics,columns=['dataset_name','column_name','KL_divergence','PSI_divergence','Entropy','Type_Errors','rule_errors'])
meta_table_adv

,dataset_name,column_name,KL_divergence,PSI_divergence,Entropy,Type_Errors,rule_errors
0,yellow,VendorID,0.000117,0.000259,0.651447,0,0
1,yellow,tpep_pickup_datetime,-0.149122,0.103564,3.185556,0,0
2,yellow,tpep_dropoff_datetime,-0.164400,0.093866,4.144138,0,0
3,yellow,passenger_count,0.000205,0.000412,1.102925,0,0
4,yellow,trip_distance,0.000268,0.000538,1.987795,0,0
...,...,...,...,...,...,...,...
75,adult,capital-gain,0.000142,0.000330,0.003650,0,0
76,adult,capital-loss,0.000142,0.000330,0.003650,0,0
77,adult,hours-per-week,0.000394,0.000785,1.580185,0,0
78,adult,native-country,-0.000074,0.000099,0.001221,0,0
79,adult,<=50k,0.000128,0.000298,0.553615,0,0

In [465]:
import pandas as pd
meta_table_combined=pd.merge(meta_data,meta_table_adv,on=['dataset_name', 'column_name'],how='inner')
meta_table_combined

,dataset_name,column_name,dtype,non_null_count,missing_count,missing_percent,unique_count,unique_percent,mode,mode_percent,...,whitespace_issues,min_date,max_date,date_range_days,duplicate_rows_percent,KL_divergence,PSI_divergence,Entropy,Type_Errors,rule_errors
0,yellow,VendorID,int64,80000,0,0.0,2,0.002500,2,64.801250,...,NaN,NaT,NaT,NaN,0.000000,0.000117,0.000259,0.651447,0,0
1,yellow,tpep_pickup_datetime,datetime64[ns],80000,0,0.0,24319,30.398750,2016-02-19 20:57:42,0.020000,...,NaN,2015-01-01 01:08:55,2016-03-10 08:52:32,434.0,0.000000,-0.149122,0.103564,3.185556,0,0
2,yellow,tpep_dropoff_datetime,datetime64[ns],80000,0,0.0,40519,50.648750,2016-02-19 21:21:06,0.021250,...,NaN,2015-01-01 01:08:56,2016-03-11 08:44:12,435.0,0.000000,-0.164400,0.093866,4.144138,0,0
3,yellow,passenger_count,int64,80000,0,0.0,8,0.010000,1,66.990000,...,NaN,NaT,NaT,NaN,0.000000,0.000205,0.000412,1.102925,0,0
4,yellow,trip_distance,float64,80000,0,0.0,2041,2.551250,0.9,1.751250,...,NaN,NaT,NaT,NaN,0.000000,0.000268,0.000538,1.987795,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,adult,capital-gain,int64,48842,0,0.0,123,0.251832,0,91.738668,...,NaN,NaT,NaT,NaN,0.059375,0.000142,0.000330,0.003650,0,0
76,adult,capital-loss,int64,48842,0,0.0,99,0.202694,0,95.327792,...,NaN,NaT,NaT,NaN,0.059375,0.000142,0.000330,0.003650,0,0
77,adult,hours-per-week,int64,48842,0,0.0,96,0.196552,40,46.687277,...,NaN,NaT,NaT,NaN,0.059375,0.000394,0.000785,1.580185,0,0
78,adult,native-country,object,48842,0,0.0,42,0.085992,United-States,89.742435,...,48842.0,NaT,NaT,NaN,0.059375,-0.000074,0.000099,0.001221,0,0
79,adult,<=50k,object,48842,0,0.0,4,0.008190,<=50K,50.612178,...,48842.0,NaT,NaT,NaN,0.059375,0.000128,0.000298,0.553615,0,0

In [466]:
meta_table_combined.to_csv('metrics.csv',index=False)

In [467]:
meta_table_combined.columns

Index(['dataset_name', 'column_name', 'dtype', 'non_null_count',
       'missing_count', 'missing_percent', 'unique_count', 'unique_percent',
       'mode', 'mode_percent', 'mean', 'std', 'min', 'max', 'median',
       'outlier_count', 'num_categories', 'rare_category_percent',
       'whitespace_issues', 'min_date', 'max_date', 'date_range_days',
       'duplicate_rows_percent', 'KL_divergence', 'PSI_divergence', 'Entropy',
       'Type_Errors', 'rule_errors'],
      dtype='object')

In [ ]:
summarized_meta=meta_table_combined.drop(columns=['dtype','non_null_count','missing_count','unique_count','mode','mode_percent','mean','std','min','max','median','num_categories','min_date','max_date','date_range_days','Entropy'])
table_lengths={}
for index,data in enumerate(dataset_list):
    table_lengths[dataset_names[index]]=len(data)
table_lengths
outlier_percent=[]
whitespace_percent=[]
rule_errors_percent=[]
for index,val in summarized_meta.iterrows():
    outlier_percent.append((val['outlier_count']/table_lengths[val['dataset_name']])*100)
    whitespace_percent.append((val['whitespace_issues']/table_lengths[val['dataset_name']])*100)
    rule_errors_percent.append((val['rule_errors']/table_lengths[val['dataset_name']])*100)
summarized_meta['outlier_percent']=outlier_percent
summarized_meta['whitespace_percent']=whitespace_percent
summarized_meta['rule_errors_percent']=rule_errors_percent
summarized_meta.drop(columns=['outlier_count','whitespace_issues','rule_errors','Type_Errors'],inplace=True)
summarized_meta.columns

Index(['dataset_name', 'column_name', 'missing_percent', 'unique_percent',
       'rare_category_percent', 'duplicate_rows_percent', 'KL_divergence',
       'PSI_divergence', 'Type_Errors', 'outlier_percent',
       'whitespace_percent', 'rule_errors_percent'],
      dtype='object')

In [474]:
summarized_meta.columns

Index(['dataset_name', 'column_name', 'missing_percent', 'unique_percent',
       'rare_category_percent', 'duplicate_rows_percent', 'KL_divergence',
       'PSI_divergence', 'Type_Errors', 'outlier_percent',
       'whitespace_percent', 'rule_errors_percent'],
      dtype='object')

In [469]:
metrics=list(summarized_meta.columns)
metrics.remove('dataset_name')
metrics.remove('column_name')
def get_weights(i):
    #while True:
        #print(f'enter your weights for each metric for {dataset_names[i]} , they must sum to 1 , else metrics wont be considered\n')
        weights=[1/len(metrics)]*len(metrics)
        print(weights)
        # for i,metric in enumerate(metrics):
        #     print("enter the weight for the following metric\n",metric+'\n','default value is ',1/len(metrics),'\n','press enter for default\n')
        #     weight=input()
        #     weight=weight.strip()
        #     if weight == "":
        #         continue
        #     elif weight.replace('.', '', 1).isdigit():
        #         weights[i] = float(weight)
        #     else:
        #         print("Invalid input, keeping default.\n")
        # weight_sum=sum(weights)
        # if abs(weight_sum - 1) < 1e-6:
        #     print("weights accepted")
        #     return weights
        #     break
        # else:
        #     print('weights not accepted , sum not 100 , please try again\n')
        return weights

In [470]:
weights=get_weights(1)
print(weights)

[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]

In [ ]:
bad_metrics=('missing_percent','whitespace_percent','duplicate_rows_percent','outlier_percent','Type_errors_percent','Rule_Error_percent','PSI_divergence','KL_divergence')
def get_normalized_divergence(temp,metric):
    vals=[]
    for index,row in temp.iterrows():
        value=row[metric]
        if(value<0.1):
            vals.append(0)
        elif(value>0.1 and value<0.25):
            vals.append(value*2.7)
        else:
            vals.append(1)
    temp[metric]=vals
    return temp[metric]
            
        
def get_new_values():
    temp=summarized_meta.copy()
    for i,metric in enumerate(metrics):
        if (metric=='PSI_divergence') or (metric=='KL_divergence'):
            temp[metric]=get_normalized_divergence(temp,metric)
        else:
            for index,row in temp.iterrows():
                if(row[metric]<1):
                    row[metric]=1
                elif(row[metric]<5):
                    row[metric]=0.7
                elif(row[metric]<10):
                    row[metric]=0.4
                else:
                    row[metric]=0
            
    return temp
    
def Compute_DQ_Score(i,df):
    temp=get_new_values()
    print(temp.head(10))  # See the normalized metrics for your first 10 columns
    weights=get_weights(i)
    DQ_Score=[]
    for column in df.columns:
        value=0
        val=0
        for j,metric in enumerate(metrics):
            value=temp.loc[temp['column_name']==column,metric].values[0]*weights[j]
            print(value)
            if pd.isna(value):
                val += weights[j]
            else:
                val+=min(value,1)
        DQ_Score.append(val)
    DQ_Score=np.array(DQ_Score)
    return np.mean(DQ_Score)*100

[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
{'yellow': np.float64(95.73684210526314), 'UCI_credit_card': np.float64(93.75999999999999), 'customer_churn': np.float64(98.47619047619044), 'adult': np.float64(92.80000000000001)}

In [472]:
scores={}
for i,item in enumerate(dataset_list):
    scores[dataset_names[i]]=Compute_DQ_Score(i,item)
scores

[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]
[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1]

{'yellow': np.float64(95.73684210526314),
 'UCI_credit_card': np.float64(93.75999999999999),
 'customer_churn': np.float64(98.47619047619044),
 'adult': np.float64(92.80000000000001)}

In [ ]:
bad_metrics = (
    'missing_percent', 'whitespace_percent', 'duplicate_rows_percent',
    'outlier_percent', 'Type_errors_percent', 'Rule_Error_percent',
    'PSI_divergence', 'KL_divergence'
)

# Threshold-based normalization for metrics
def get_normalized_value(temp, metric):
    vals = []
    if metric == 'PSI_divergence' or metric == 'KL_divergence':
        for _, row in temp.iterrows():
            value = row[metric]
            if pd.isna(value):
                vals.append(1)
            elif value < 0.1:
                vals.append(1)
            elif value < 0.25:
                vals.append(0.5)
            else:
                vals.append(0)
        temp[metric] = vals
    else:
        for _, row in temp.iterrows():
            value = row[metric]
            if pd.isna(value):
                vals.append(1)
            elif value < 1:
                vals.append(1)
            elif value < 5:
                vals.append(0.6)
            elif value < 20:
                vals.append(0.3)
            else:
                vals.append(0)
        temp[metric] = vals
    return temp[metric]

# Apply normalization to all metrics
def get_new_values():
    temp = summarized_meta.copy()
    for metric in metrics:
        temp[metric] = get_normalized_value(temp, metric)
    return temp

def Compute_DQ_Score(i, df):
    temp = get_new_values()
    weights = get_weights(i)
    DQ_Score = []
    for column in df.columns:
        val = 0
        for j, metric in enumerate(metrics):
            metric_value = temp.loc[temp['column_name'] == column, metric].values[0]
            weight = weights[j]
            val += metric_value * weight
        DQ_Score.append(val)
    # Final score as percent (0-100)
    return np.mean(DQ_Score) * 100

# To compute DQ scores for all datasets
scores = {}
for i, item in enumerate(dataset_list):
    scores[dataset_names[i]] = Compute_DQ_Score(i, item)
print(scores)