In [331]:
import pandas as pd
datasets={
           "adult":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\adult\adult.data",
           "adult_test":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\adult\adult.test",
           "customer_churn":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\customer_churn\WA_Fn-UseC_-Telco-Customer-Churn.csv",
           "UCI_credit_card":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\UCI_credit_card\UCI_Credit_Card.csv",
           "yellow1":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\yellow_trip_data\yellow_tripdata_2015-01.csv",
           "yellow2":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\yellow_trip_data\yellow_tripdata_2016-01.csv",
           "yellow3":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\yellow_trip_data\yellow_tripdata_2016-02.csv",
           "yellow4":r"C:\Users\Prabhat\Desktop\Carear\projects\project-1\data\yellow_trip_data\yellow_tripdata_2016-03.csv"
           }
dataset_names=['yellow' , 'UCI_credit_card' , 'customer_churn' , 'adult']

In [332]:
chunk_size=20000
customer_churn=pd.read_csv(datasets["customer_churn"])
UCI_credit_card=pd.read_csv(datasets["UCI_credit_card"])
chunk1=pd.read_csv(datasets["yellow1"],chunksize=chunk_size)
yellow1 = next(chunk1) 
chunk2=pd.read_csv(datasets["yellow2"],chunksize=chunk_size)
yellow2 = next(chunk2) 
chunk3=pd.read_csv(datasets["yellow3"],chunksize=chunk_size)
yellow3 = next(chunk3) 
chunk4=pd.read_csv(datasets["yellow4"],chunksize=chunk_size)
yellow4 = next(chunk4)
yellow= pd.concat([yellow1, yellow2, yellow3, yellow4], ignore_index=True)
yellow

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,RatecodeID
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1.0,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05,NaN
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1.0,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80,NaN
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1.0,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,NaN
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1.0,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,NaN
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1.0,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,2,2016-03-10 08:52:30,2016-03-10 09:09:11,5,1.91,-73.983955,40.737537,NaN,N,-73.989944,40.756554,2,11.5,0.0,0.5,0.00,0.0,0.3,12.30,1.0
79996,2,2016-03-10 08:52:31,2016-03-10 09:03:29,1,1.38,-73.995209,40.749649,NaN,N,-73.980080,40.759201,1,8.5,0.0,0.5,0.00,0.0,0.3,9.30,1.0
79997,2,2016-03-10 08:52:32,2016-03-10 08:58:45,2,0.65,-73.986633,40.761318,NaN,N,-73.979057,40.764980,2,5.5,0.0,0.5,0.00,0.0,0.3,6.30,1.0
79998,2,2016-03-10 08:52:32,2016-03-10 09:00:38,1,0.87,-73.990707,40.745960,NaN,N,-73.981606,40.753780,1,6.5,0.0,0.5,1.46,0.0,0.3,8.76,1.0
79999,2,2016-03-10 08:52:32,2016-03-10 09:05:56,2,1.31,-73.985748,40.778610,NaN,N,-73.970840,40.768291,1,9.5,0.0,0.5,2.06,0.0,0.3,12.36,1.0

In [333]:
yellow

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,RatecodeID
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,-73.993896,40.750111,1.0,N,-73.974785,40.750618,1,12.0,1.0,0.5,3.25,0.0,0.3,17.05,NaN
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,-74.001648,40.724243,1.0,N,-73.994415,40.759109,1,14.5,0.5,0.5,2.00,0.0,0.3,17.80,NaN
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,-73.963341,40.802788,1.0,N,-73.951820,40.824413,2,9.5,0.5,0.5,0.00,0.0,0.3,10.80,NaN
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,-74.009087,40.713818,1.0,N,-74.004326,40.719986,2,3.5,0.5,0.5,0.00,0.0,0.3,4.80,NaN
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,-73.971176,40.762428,1.0,N,-74.004181,40.742653,2,15.0,0.5,0.5,0.00,0.0,0.3,16.30,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79995,2,2016-03-10 08:52:30,2016-03-10 09:09:11,5,1.91,-73.983955,40.737537,NaN,N,-73.989944,40.756554,2,11.5,0.0,0.5,0.00,0.0,0.3,12.30,1.0
79996,2,2016-03-10 08:52:31,2016-03-10 09:03:29,1,1.38,-73.995209,40.749649,NaN,N,-73.980080,40.759201,1,8.5,0.0,0.5,0.00,0.0,0.3,9.30,1.0
79997,2,2016-03-10 08:52:32,2016-03-10 08:58:45,2,0.65,-73.986633,40.761318,NaN,N,-73.979057,40.764980,2,5.5,0.0,0.5,0.00,0.0,0.3,6.30,1.0
79998,2,2016-03-10 08:52:32,2016-03-10 09:00:38,1,0.87,-73.990707,40.745960,NaN,N,-73.981606,40.753780,1,6.5,0.0,0.5,1.46,0.0,0.3,8.76,1.0
79999,2,2016-03-10 08:52:32,2016-03-10 09:05:56,2,1.31,-73.985748,40.778610,NaN,N,-73.970840,40.768291,1,9.5,0.0,0.5,2.06,0.0,0.3,12.36,1.0

In [ ]:
yellow = yellow.rename(columns={
    'RateCodeID': 'RateCodeID_1',
    'RatecodeID': 'RateCodeID_2'
})
yellow['RateCodeID_Final'] = yellow['RateCodeID_1'].combine_first(yellow['RateCodeID_2'])
yellow = yellow.drop(['RateCodeID_1', 'RateCodeID_2'], axis=1)
print(yellow.columns)

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_longitude',
       'pickup_latitude', 'store_and_fwd_flag', 'dropoff_longitude',
       'dropoff_latitude', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'RateCodeID_Final'],
      dtype='object')

In [335]:
print(yellow['VendorID'].unique())

[2 1]

In [336]:
col_names = ['age','workclass','fnlwgt','education','education-num',
             'marital-status','occupation','relationship','race','sex',
             'capital-gain','capital-loss','hours-per-week','native-country','<=50k']

adult = pd.read_csv(datasets["adult"], header=None, names=col_names)
adult_test = pd.read_csv(datasets["adult_test"], header=None, names=col_names, skiprows=1)

adult = pd.concat([adult, adult_test], ignore_index=True)
adult.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       '<=50k'],
      dtype='object')

In [339]:
adult['<=50k'].unique()

array([' <=50K', ' >50K', ' <=50K.', ' >50K.'], dtype=object)

In [341]:
customer_churn.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [342]:
UCI_credit_card.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default.payment.next.month'],
      dtype='object')

In [345]:
adult.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
<=50k             object
dtype: object

In [346]:
customer_churn.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [347]:
UCI_credit_card.dtypes

ID                              int64
LIMIT_BAL                     float64
SEX                             int64
EDUCATION                       int64
MARRIAGE                        int64
AGE                             int64
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
BILL_AMT1                     float64
BILL_AMT2                     float64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                     float64
BILL_AMT6                     float64
PAY_AMT1                      float64
PAY_AMT2                      float64
PAY_AMT3                      float64
PAY_AMT4                      float64
PAY_AMT5                      float64
PAY_AMT6                      float64
default.payment.next.month      int64
dtype: object

In [348]:
yellow['tpep_dropoff_datetime']=pd.to_datetime(yellow['tpep_dropoff_datetime'])
yellow['tpep_pickup_datetime']=pd.to_datetime(yellow['tpep_pickup_datetime'])

yellow.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
pickup_longitude                float64
pickup_latitude                 float64
store_and_fwd_flag               object
dropoff_longitude               float64
dropoff_latitude                float64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
RateCodeID_Final                float64
dtype: object

In [349]:
dataset_list=[yellow , UCI_credit_card , customer_churn,adult]

In [350]:

from sklearn.preprocessing import StandardScaler
import numpy as np
from pandas.api.types import is_numeric_dtype
def get_metrics(df_list,dataset_name_list):
    data=[]
    for df,dataset_name in zip(df_list,dataset_name_list):
        df=pd.DataFrame(df)
        #duplicate row percentage
        duplicate_row_percentage=((len(df)-len(df.drop_duplicates()))/len(df))*100
        for column in df.columns:
            #Meta info-:
            dataset_name=dataset_name
            column_name=column
            dtype=df[column].dtype
        
            #completness-:
            non_null_count=df[column].notnull().sum()
            missing_count=df[column].isnull().sum()
            missing_percent=(missing_count/len(df[column]))*100
        
            #Uniquness and variety
        
            unique_count=df[column].nunique()
            unique_percent=(unique_count/len(df[column]))*100
            mode=df[column].mode()[0]
            mode_percent=((df[column]==mode).sum()/len(df[column]))*100
        
        
            #based on column types
        
            if is_numeric_dtype(df[column]):
                mean=df[column].mean()
                std=df[column].std()
                min=df[column].min()
                max=df[column].max()
                median=df[column].median()
            
                scalar=StandardScaler()
                z_score=scalar.fit_transform(df[[column]])
                outliers=int((np.abs(z_score)>=3).sum())
            
                num_categories=None
                rare_category_percent=None
                whitespace_issues=None
                min_date=None
                max_date=None
                date_range_days=None
            elif((df[column].dtype=='object') or (df[column].dtype=='bool') or (df[column].dtype=='category') ):
                num_categories=unique_count
                unique=list(df[column].unique())
                rare_category_percent=100
                for item in unique:
                    item_count=(df[column]==item).sum()
                    item_percentage=(item_count/len(df[column]))*100
                    if item_percentage<=5.5 and (item_percentage<rare_category_percent):
                        rare_category_percent=item_percentage
                if(rare_category_percent==100):
                    rare_category_percent=None
                temp1=df[column].str.startswith(" ").sum()
                temp2=df[column].str.endswith(" ").sum()
                whitespace_issues=temp1+temp2
                mean=None
                std=None
                min=None
                max=None
                median=None
                outliers=None
                min_date=None
                max_date=None
                date_range_days=None
            else:
                min_date=df[column].min()
                max_date=df[column].max()
                if pd.notna(min_date) and pd.notna(max_date):
                    date_range_days = (max_date - min_date).days
                else:
                    date_range_days = None
                mean=None
                std=None
                min=None
                max=None
                median=None
                outliers=None
                num_categories=None
                rare_category_percent=None
                whitespace_issues=None
            data.append([dataset_name,column_name,dtype,non_null_count,missing_count,missing_percent,unique_count,unique_percent,mode,mode_percent,mean,std,min,max,median,outliers,num_categories,rare_category_percent,whitespace_issues,min_date,max_date,date_range_days,duplicate_row_percentage])
    return data

In [351]:
from collections import Counter
import math
def get_probs(df, column , bins):
    probabilities=[]
    if is_numeric_dtype(df[column]):
        bin_indices = pd.cut(
        df[column],
        bins=bins,
        include_lowest=True,
        labels=False
        ) + 1
        counter=Counter(bin_indices)
        for i in range(1,len(bins)+1,1):
            count=counter.get(i,0)
            prob=(count)/(len(df[column])) #adding 1 for zero error handling
            prob=max(prob,0.0000001)
            probabilities.append(prob)
    else:
        counter=Counter(df[column])
        for cat in bins:
            count=counter.get(cat, 0)
            prob=count / len(df[column])
            prob=max(prob, 0.0000001)
            probabilities.append(prob)
    return probabilities

def KL_PSI_and_JS(df_base, df_new , column ):
        if is_numeric_dtype(df_base[column]):
            if len(df_base[column])<10000:
                bins = np.quantile(df_base[column], q=np.linspace(0,1,6))
                bins = np.unique(bins)
            elif len(df_base[column])<50000:
                bins = np.quantile(df_base[column], q=np.linspace(0,1,11))
                bins = np.unique(bins)
            else:
                bins = np.quantile(df_base[column], q=np.linspace(0,1,21))
                bins = np.unique(bins)
        else:
            bins=df_base[column].unique()
        probs_base=get_probs(df_base , column, bins)
        probs_new=get_probs(df_new , column , bins)
        KL_div=0
        PSI_div=0
        JS_div=0
        probs_base=np.array(probs_base)
        probs_new=np.array(probs_new)
        M=(probs_new+probs_base)/2
        for i in range(0,len(probs_base) , 1):
            val_KL=probs_base[i]*(math.log(probs_base[i]/probs_new[i]))
            val_PSI=(probs_base[i]-probs_new[i])*(math.log(probs_base[i]/probs_new[i]))
            val_JS=(probs_base[i]*(math.log(probs_base[i]/M[i]))+probs_new[i]*(math.log(probs_new[i]/M[i])))/2
            KL_div+=val_KL
            PSI_div+=val_PSI
            JS_div+=val_JS
        return KL_div , PSI_div,JS_div
    

def get_entropy(df_base,column):
    if is_numeric_dtype(df_base[column]):
        if len(df_base[column])<10000:
            bins = np.quantile(df_base[column], q=np.linspace(0,1,6))
            bins = np.unique(bins)
        elif len(df_base[column])<50000:
            bins = np.quantile(df_base[column], q=np.linspace(0,1,11))
            bins = np.unique(bins)
        else:
            bins = np.quantile(df_base[column], q=np.linspace(0,1,21))
            bins = np.unique(bins)
    else:
        bins=df_base[column].unique()
    probs=get_probs(df_base,column,bins)
    entropy=0
    for prob in probs:
        entropy-=(prob*(math.log(prob)))
    return entropy

def get_type_error_count(df, column):
    expected_type=df[column].dtype
    error_count = 0
    for val in df[column]:
        if is_numeric_dtype(df[column]):
            try:
                float(val)  
            except (ValueError, TypeError):
                error_count += 1
        elif expected_type == "datetime64[ns]":
            try:
                pd.to_datetime(val)
            except (ValueError, TypeError):
                error_count += 1
        elif ((expected_type == "category") or (expected_type=='object')):
            if not isinstance(val, str):
                error_count += 1
    return error_count

def rule_based_errors(df,column,rules):
    errors=0
    rules=dict(rules)
    if column in rules.keys():
        for val in df[column]:
            if not(rules[column](val)):
                errors+=1
        return errors
    else:
        return 0
def check_age(val):
    if val>0:
        return True
    else:
        return False
rules={
    "age": check_age
    }    #column_name : function_name

       
def advanced_metrics(dataset_name_list,df_base_list,df_new_list):
    metrics=[]
    for df_base,df_new,dataset_name in zip(df_base_list,df_new_list,dataset_name_list):
        df_base=pd.DataFrame(df_base)
        df_new=pd.DataFrame(df_new)
        for column in df_base.columns:
            KL_div , PSI_div,JS_div =KL_PSI_and_JS(df_base , df_new,column)
            entropy=get_entropy(df_base,column)
            type_errors=get_type_error_count(df_base,column)
            rule_errors=rule_based_errors(df_base,column,rules)
        
            #more adv metrics soon
            metrics.append([dataset_name,column,KL_div,PSI_div,JS_div,entropy,type_errors,rule_errors])
    return metrics

In [352]:
# target_yellow=yellow['total_amount']
# def convert_churn(value):
#     if value=='Yes':
#         return 1
#     else:
#         return 0
# customer_churn['Churn']=customer_churn['Churn'].apply(convert_churn)
# target_churn=customer_churn['Churn']
# target_UCI=UCI_credit_card['default.payment.next.month']
# def convert_adult(value):
#     if (value=='>50K') or (value=='>50K.'):
#         return 1
#     else:
#         return 0
# adult.columns = adult.columns.str.strip()
# adult['<=50k']=adult['<=50k'].apply(convert_adult)
# target_adult=adult['<=50k']
# target_list=[target_yellow,target_UCI,target_churn,target_adult]
# targets={}
# for i , dataset in enumerate(dataset_list):
#     targets[dataset_names[i]]=target_list[i]

In [353]:
from sklearn.model_selection import train_test_split
def generate_meta(dataset_name_list,dataset_list):
    df_old_list=[]
    df_new_list=[]
    data=get_metrics(dataset_list,dataset_name_list)
    for df in dataset_list:
        df_old , df_new =train_test_split(df,test_size=0.3,random_state=1)
        df_old_list.append(df_old)
        df_new_list.append(df_new)
    metrics=advanced_metrics(dataset_name_list,df_old_list,df_new_list)
    meta_data=pd.DataFrame(data=data,columns=[
    # — Meta Info —
    "dataset_name",        
    "column_name",         
    "dtype",               

    # — Completeness —
    "non_null_count",      
    "missing_count",       
    "missing_percent",     

    # — Uniqueness & Variety —
    "unique_count",        
    "unique_percent",      
    "mode",                
    "mode_percent",        

    # — Numeric Columns —
    "mean",                
    "std",                 
    "min",                 
    "max",                 
    "median",              
    "outlier_count",       

    # — Categorical Columns —
    "num_categories",      
    "rare_category_percent",
    "whitespace_issues",   

    # — Datetime Columns —
    "min_date",            
    "max_date",            
    "date_range_days",     

    # — Quality & Resource —
    "duplicate_rows_percent"    
])
    meta_data.replace({pd.NaT: np.nan}, inplace=True)
    meta_table_adv=pd.DataFrame(data=metrics,columns=['dataset_name','column_name','KL_divergence','PSI_divergence','JS_divergence','Entropy','Type_Errors','rule_errors'])
    meta_table_combined=pd.merge(meta_data,meta_table_adv,on=['dataset_name', 'column_name'],how='inner')
    return meta_table_combined
meta_table_combined=generate_meta(dataset_names,dataset_list) #step 1

In [354]:

#not rquired as much
summary = meta_table_combined.groupby("dataset_name", as_index=False).agg({
    "missing_percent": "mean",
    "duplicate_rows_percent": "mean",
    "outlier_count": np.nansum,
    "whitespace_issues": np.nansum
})

summary.rename(columns={
    "missing_percent": "avg_missing_percent",
    "duplicate_rows_percent": "avg_duplicate_percent",
    "outlier_count": "total_outliers",
    "whitespace_issues": "total_whitespace_issues"
}, inplace=True)

summary

C:\Users\Prabhat\AppData\Local\Temp\ipykernel_24408\3135485019.py:2: FutureWarning: The provided callable <function nansum at 0x000002B24ABA70A0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  summary = meta_table_combined.groupby("dataset_name", as_index=False).agg({

,dataset_name,avg_missing_percent,avg_duplicate_percent,total_outliers,total_whitespace_issues
0,UCI_credit_card,0.0,0.000000,7819.0,0.0
1,adult,0.0,0.059375,4250.0,439578.0
2,customer_churn,0.0,0.000000,0.0,22.0
3,yellow,0.0,0.000000,16929.0,0.0

In [355]:
meta_table_combined.columns

Index(['dataset_name', 'column_name', 'dtype', 'non_null_count',
       'missing_count', 'missing_percent', 'unique_count', 'unique_percent',
       'mode', 'mode_percent', 'mean', 'std', 'min', 'max', 'median',
       'outlier_count', 'num_categories', 'rare_category_percent',
       'whitespace_issues', 'min_date', 'max_date', 'date_range_days',
       'duplicate_rows_percent', 'KL_divergence', 'PSI_divergence',
       'JS_divergence', 'Entropy', 'Type_Errors', 'rule_errors'],
      dtype='object')

In [356]:
meta_table_combined.to_csv('metrics.csv',index=False)

In [357]:
def cleaning_recommendations(meta_data_combined):
    recs = []
    for i, row in meta_data_combined.iterrows():
        suggestions = []
        if row['missing_percent']>20:
            suggestions.append("Consider dropping column due to high missing values")
        elif 0 < row['missing_percent'] <= 20:
            suggestions.append("Impute missing values (mean/median/mode)")
        if row['outlier_count'] and row['outlier_count']>0:
            suggestions.append("Handle outliers (cap/remove)")
        if row['whitespace_issues'] and row['whitespace_issues']>0:
            suggestions.append("Strip leading/trailing spaces")
        if row['rare_category_percent'] and row['rare_category_percent']>5:
            suggestions.append("Combine rare categories or resolve typos")
        if row['dtype'] == 'datetime64[ns]' and row['date_range_days'] < 1:
            suggestions.append("Check for incorrect or same date entries")
        if row['Type_Errors']>0:
            suggestions.append("Missmatch type detected")
        if row['rule_errors']>0:
            suggestions.append("Buisness rule violated")
        if len(suggestions) == 0:
            suggestions.append("No major issues detected")
        recs.append({
            "dataset_name": row["dataset_name"],
            "column_name": row["column_name"],
            "recommendations": ", ".join(suggestions)
        })

    return pd.DataFrame(recs)
recommendations=cleaning_recommendations(meta_table_combined)#step 2
recommendations

   dataset_name            column_name                recommendations
0        yellow               VendorID       No major issues detected
1        yellow   tpep_pickup_datetime       No major issues detected
2        yellow  tpep_dropoff_datetime       No major issues detected
3        yellow        passenger_count   Handle outliers (cap/remove)
4        yellow          trip_distance   Handle outliers (cap/remove)
..          ...                    ...                            ...
75        adult           capital-gain   Handle outliers (cap/remove)
76        adult           capital-loss   Handle outliers (cap/remove)
77        adult         hours-per-week   Handle outliers (cap/remove)
78        adult         native-country  Strip leading/trailing spaces
79        adult                  <=50k  Strip leading/trailing spaces

[80 rows x 3 columns]

In [358]:

from nltk import ngrams
from nltk.metrics.distance import jaccard_distance


def clean(df, column, clean_type):
    def clean_outliers(df, column):
        while True:
            col = df[column]
            if col.std() == 0:
                break
            z = ((col - col.mean()) / col.std()).abs()
            outlier_idx = z >= 3
            if outlier_idx.sum() == 0:
                break
            df.loc[outlier_idx, column] = col.median()
        return df[column]

    def keep_string_else_none(val):
        if isinstance(val, str):
            return val
        else:
            return None
        #1 Drop column due to high missing values
    if clean_type == 1:
        df.drop(columns=[column], inplace=True)
        return None
        #2 Impute missing values
    elif clean_type == 2:
        if (is_numeric_dtype(df[column]) and (df[column].dtype != 'bool')) :
            df[column] = df[column].fillna(df[column].mean())
        elif df[column].dtype=='datetime64[ns]':
            df[column]=df[column].fillna(df[column].mode()[0])
        else:
            df[column]=df[column].fillna(df[column].mode()[0])

        #3 Handle outliers using Z-score method
    elif clean_type == 3:
        df[column] = clean_outliers(df, column)  
        #4 Strip leading/trailing spaces
    elif clean_type == 4:
        def striping(value):
            if pd.isna(value):
                return value
            return str(value).strip()
        df[column] = df[column].apply(striping)

        #5 Combine rare categories and resolve typos
    elif clean_type == 5:
        condition=False
        breakpoint=0
        substitutes={}
        if df[column].dtype == 'object' or df[column].dtype == 'category':
            series=df[column].value_counts()
            for i,(k,v) in enumerate(series.items()):
                v=(v/len(df[column]))*100
                if v<=5:#checking if its a typo
                    if not (condition):
                        breakpoint=i
                        condition=True
                    if len(str(k))>=3:
                        k_ngrams=ngrams(str(k).lower(),3)
                        k_set=set()
                        for gram in k_ngrams:
                            k_set.add(" ".join(gram))
                        
                        for index,key in enumerate(series.index):
                            if index==breakpoint:
                                break
                            key_ngrams=ngrams(str(key).lower(),3)
                            key_set=set()
                        
                            for gram in key_ngrams:
                               key_set.add(" ".join(gram))
                            if len(k_set.union(key_set)) == 0:
                                distance = 1
                            else:
                                distance = jaccard_distance(k_set, key_set)
                            if distance<0.25:
                                substitutes[k]=key
                            else:
                                substitutes[k]='Other'#rare category 
            df[column]=df[column].replace(substitutes)               
        #6 Check for incorrect/same date entries
    elif clean_type == 6:
        if ((df[column].dtype=='datetime64[ns]') and (df[column].nunique()<=1)):
            print( column , "has identical or invalid date entries not required for data analysis")
    #7 resolve missmatches and convert to nan
    elif clean_type == 7:
        expected_type = df[column].dtype
        if is_numeric_dtype(expected_type):
            df[column]=pd.to_numeric(df[column], errors='coerce')
        elif expected_type=='datetime64[ns]':
            df[column]=pd.to_datetime(df[column], errors='coerce')
        elif expected_type in ['object', 'category']:
            df[column]=df[column].apply(keep_string_else_none)
            
    #8 convert invalid buisness value to nan (avoiding hallucinating of values)
    elif clean_type==8:
        func=rules[column]
        for i,val in enumerate(df[column]):
            if not(func(val)):
                df.loc[i,column]=None
              
    elif clean_type == 9:
        pass
    return df[column]

In [359]:
import copy
dataset_list=[yellow , UCI_credit_card , customer_churn,adult]
def get_cleaned_data(dataset_list,recommendations):
    mapped_suggestions={
        1:"Consider dropping column due to high missing values" ,
        2:"Impute missing values (mean/median/mode)",
        3:"Handle outliers (cap/remove)",
        4:"Strip leading/trailing spaces",
        5:"Combine rare categories or resolve typos",
        6:"Check for incorrect or same date entries",
        7:"Missmatch type detected",
        8:"Buisness rule violated",
        9:"No major issues detected"
    }
    dataset_list_cleaned=[]
    for item in dataset_list:
        item=item.copy(deep=True)
        for column in item.columns:
            suggesions=recommendations[recommendations['column_name']==column]['recommendations'].iloc[0]
            suggesions=str(suggesions).split(',')
            #print("would you like to perform the following cleaning operations on "+str(column),'-:' ,'\n',suggesions,'\n','please answer Yes or No')
            #ans=input()
            #ans=ans.lower()
            #if(ans=='no'):
            #    continue
            for suggesion in suggesions:
                suggesion=str(suggesion).strip()
                for k,v in mapped_suggestions.items():
                    v=v.strip()
                    if suggesion==v:
                        clean_type=k
                        break
                result=clean(item, column, clean_type)
                if result is not None:
                    item[column] = result
        item=item.drop_duplicates()
        dataset_list_cleaned.append(item)
    return dataset_list_cleaned  
dataset_list_cleaned=get_cleaned_data(dataset_list,recommendations) #step 3

C:\Users\Prabhat\AppData\Local\Temp\ipykernel_24408\577621692.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '178144.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outlier_idx, column] = col.median()

In [360]:
len(dataset_list_cleaned[3])

48805

In [361]:
meta_table_combined_cleaned=generate_meta(dataset_names,dataset_list_cleaned)# step 4 optional

In [362]:
meta_tables=[meta_table_combined,meta_table_combined_cleaned]

In [363]:
meta_table_combined_cleaned['outlier_count'].dtype

dtype('float64')

In [364]:
def get_table_for_DQ_computation(meta_table):
    summarized_meta=meta_table.drop(columns=['dtype','non_null_count','missing_count','unique_count','mode','mode_percent','mean','std','min','max','median','num_categories','min_date','max_date','date_range_days','Entropy'])
    table_lengths={}
    for index,data in enumerate(dataset_list):
        table_lengths[dataset_names[index]]=len(data)
    outlier_percent=[]
    whitespace_percent=[]
    rule_errors_percent=[]
    for index,val in summarized_meta.iterrows():
        outlier_percent.append((val['outlier_count']/table_lengths[val['dataset_name']])*100)
        whitespace_percent.append((val['whitespace_issues']/table_lengths[val['dataset_name']])*100)
        rule_errors_percent.append((val['rule_errors']/table_lengths[val['dataset_name']])*100)
    summarized_meta['outlier_percent']=outlier_percent
    summarized_meta['whitespace_percent']=whitespace_percent
    summarized_meta['rule_errors_percent']=rule_errors_percent
    summarized_meta.drop(columns=['outlier_count','whitespace_issues','rule_errors','Type_Errors','unique_percent','rare_category_percent','KL_divergence'],inplace=True)
    return summarized_meta
summarized_meta_table=get_table_for_DQ_computation(meta_table_combined)#step 5
summarized_meta_table_cleaned=get_table_for_DQ_computation(meta_table_combined_cleaned)#step 6

In [365]:

def get_weights(dataset_name,summarized_meta):
    metrics=list(summarized_meta.columns)
    metrics.remove('dataset_name')
    metrics.remove('column_name')
    #while True:
        #print(f'enter your weights for each metric for {dataset_name} , they must sum to 1 , else metrics wont be considered\n')
    weights=[1/len(metrics)]*len(metrics)
        # for i,metric in enumerate(metrics):
        #     print("enter the weight for the following metric\n",metric+'\n','default value is ',1/len(metrics),'\n','press enter for default\n')
        #     weight=input()
        #     weight=weight.strip()
        #     if weight == "":
        #         continue
        #     elif weight.replace('.', '', 1).isdigit():
        #         weights[i] = float(weight)
        #     else:
        #         print("Invalid input, keeping default.\n")
        # weight_sum=sum(weights)
        # if abs(weight_sum - 1) < 1e-6:
        #     print("weights accepted")
        #     return weights
        #     break
        # else:
        #     print('weights not accepted , sum not 100 , please try again\n')
    return weights

In [366]:
from scipy.stats import percentileofscore

def get_normalized_divergence(temp,metric):
    if metric=='PSI_divergence':
        vals=[]
        for index,row in temp.iterrows():
            value=row[metric]
            if(value<0.1):
                vals.append(1)
            elif(value>0.1 and value<0.25):
                vals.append(0.4)
            else:
                vals.append(0)
        temp[metric]=vals
        return temp[metric]
    else:
        js_penalties = []
        for dataset, group in temp.groupby("dataset_name",sort=False):
            js_vals = group[metric].values
            js_percentiles = [
                percentileofscore(js_vals, v, kind="weak") / 100
                for v in js_vals
                ]
            for js_val, js_pct in zip(js_vals, js_percentiles):
                if js_val < 0.01:          # negligible JS
                    js_penalties.append(1)
                else:
                    js_penalties.append(1-js_pct)
        temp[metric]=js_penalties
    return temp[metric]
                        
def get_new_values(summarized_meta_table):
    metrics=list(summarized_meta_table.columns)
    metrics.remove('dataset_name')
    metrics.remove('column_name')
    temp=summarized_meta_table.copy(deep=True)
    for i,metric in enumerate(metrics):
        if (metric=='PSI_divergence') or (metric=='JS_divergence'):
            temp[metric]=get_normalized_divergence(temp,metric)
        else:
            vals=[]
            for index,row in temp.iterrows():
                if((row[metric]<1)or(pd.isna(row[metric]))):
                    vals.append(1)
                elif(row[metric]<5):
                    vals.append(0.8)
                elif(row[metric]<10):
                    vals.append(0.4)
                else:
                    vals.append(0)
            temp[metric]=vals
    return temp
    
def Compute_DQ_Score(dataset_name_list,dataset_list,summarized_meta):
    metrics=list(summarized_meta.columns)
    metrics.remove('dataset_name')
    metrics.remove('column_name')
    temp=get_new_values(summarized_meta)
    scores={}
    for dataset_name,df in zip(dataset_name_list,dataset_list):
        weights=get_weights(dataset_name,summarized_meta)
        DQ_Score=[]
        for column in df.columns:
            value=0
            val=0
            for j,metric in enumerate(metrics):
                value=temp.loc[temp['column_name']==column,metric].values[0]*weights[j]
                if pd.isna(value):
                    val += weights[j]
                else:
                    val+=min(value,weights[j])
            DQ_Score.append(val)
        DQ_Score=np.array(DQ_Score)
        DQ_Score=np.mean(DQ_Score)*100
        scores[dataset_name]=float(DQ_Score)
    return scores

In [367]:
print("scores before cleaning\n")
dirty_scores=Compute_DQ_Score(dataset_names,dataset_list,summarized_meta_table)#step 7 
print(dirty_scores)
print("scores after cleaning\n")
cleaned_scores=Compute_DQ_Score(dataset_names,dataset_list_cleaned,summarized_meta_table_cleaned)#step 8
print(cleaned_scores)

scores before cleaning

{'yellow': 95.52829442026116, 'UCI_credit_card': 98.51428571428569, 'customer_churn': 97.31130547457076, 'adult': 90.85714285714288}
scores after cleaning

{'yellow': 97.0320538187574, 'UCI_credit_card': 99.99999999999997, 'customer_churn': 97.31130547457076, 'adult': 99.99999999999999}

In [368]:
print(dirty_scores.items())

dict_items([('yellow', 95.52829442026116), ('UCI_credit_card', 98.51428571428569), ('customer_churn', 97.31130547457076), ('adult', 90.85714285714288)])

In [ ]:
import copy 
def Run_DQ_Pipeline():
    meta_table_combined=generate_meta(dataset_names,dataset_list) #step 1   
    recommendations=cleaning_recommendations(meta_table_combined)#step 2
    dataset_list_cleaned=get_cleaned_data(dataset_list,recommendations) #step 3             
    meta_table_combined_cleaned=generate_meta(dataset_names,dataset_list_cleaned)# step 4 optional  
    summarized_meta_table=get_table_for_DQ_computation(meta_table_combined)#step 5
    summarized_meta_table_cleaned=get_table_for_DQ_computation(meta_table_combined_cleaned)#step 6
    print("scores before cleaning\n")
    dirty_scores=Compute_DQ_Score(dataset_names,dataset_list,summarized_meta_table)#step 7 
    print(dirty_scores)
    print("scores after cleaning\n")
    cleaned_scores=Compute_DQ_Score(dataset_names,dataset_list_cleaned,summarized_meta_table_cleaned)#step 8
    print(cleaned_scores)  
    return dirty_scores, cleaned_scores
scores,scores_cleaned=Run_DQ_Pipeline()
scores=pd.DataFrame(scores.items(),columns=['Dataset_name','DQ_Score'])
scores

C:\Users\Prabhat\AppData\Local\Temp\ipykernel_24408\577621692.py:15: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '178144.5' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[outlier_idx, column] = col.median()

scores before cleaning

{'yellow': 95.52829442026116, 'UCI_credit_card': 98.51428571428569, 'customer_churn': 97.31130547457076, 'adult': 90.85714285714288}
scores after cleaning

{'yellow': 97.0320538187574, 'UCI_credit_card': 99.99999999999997, 'customer_churn': 97.31130547457076, 'adult': 99.99999999999999}

{'yellow': 95.52829442026116,
 'UCI_credit_card': 98.51428571428569,
 'customer_churn': 97.31130547457076,
 'adult': 90.85714285714288}